<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--------------------------------------------------->
    <link rel="stylesheet" th:href="@{../css/adventurePage.css}" media="screen"/>
    <!--------------------------------------------------->
    <title>Title</title>
</head>
<body>
<!--------------------------------------------------->
<main class="dk-mt10">
    <section class="u-clearfix u-white u-section-10" id="sec-15f3">
        <div class="u-clearfix u-sheet u-sheet-10">
            <img th:src="@{images/adventurePage/7d00f41ea051740564f26d37fe44fb1a.jpeg}" alt="img"
                 class="u-expanded-height-xs u-image u-image-default u-image-10">
            <img class="u-expanded-height-lg u-expanded-height-xl u-expanded-width-md u-expanded-width-sm
            u-hidden-xs u-image u-image-20"
                 th:src="@{images/adventurePage/8e61c5167b16b5dfc1d6e55479a01bb7.png}" alt="img">
            <div class="u-container-style u-group u-similar-fill u-group-10">
                <div class="u-container-layout u-container-layout-10">
                    <img th:src="@{images/adventurePage/7b75aee5633c9dc9e1407ce835892bdb.png}" alt="img"
                         class="u-image u-image-contain u-image-default u-image-30">
                    <h4 class="u-align-center u-text u-text-white u-text-10">it's time for great</h4>
                    <h1 class="u-align-center u-custom-font u-expanded-width-md u-font-satisfy
                    u-text u-text-white u-text-20">
                        Adventure</h1>
                    <a href="/info/contacts"
                       class="u-border-2 u-border-white u-btn u-button-style u-custom u-btn-10">START NOW</a>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-image u-section-30" id="sec-0443">
        <div class="u-clearfix u-sheet u-sheet-10">
            <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-similar-fill u-group-10">
                <div class="u-container-layout u-container-layout-10">
                    <h2 class="u-align-center u-custom-font u-font-satisfy u-text u-text-palette-1-base u-text-10">Hot
                        destinations</h2>
                    <div class="u-border-2 u-border-palette-1-base u-line u-line-horizontal u-line-10"></div>
                    <p class="u-align-center u-text u-text-font u-text-20">The first place to look for environmentally
                        friendly holidays </p>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-40" id="sec-4383">
        <div class="u-shape u-shape-rectangle u-white u-shape-10"></div>
        <div class="u-clearfix u-disable-padding u-gutter-30 u-layout-wrap u-layout-wrap-10">
            <div class="u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-similar-fill
                            u-size-30 u-white u-layout-cell-10">
                                <div class="u-border-1 u-border-grey-light-10 u-container-layout">
                                    <img class="u-expanded-width u-image u-image-10"
                                         th:src="@{images/adventurePage/f3a148b070b63f3283aa5b857a6fc7ee.jpeg}" alt="img">
                                    <h3 class="u-heading-font u-text u-text-grey-dark-10 u-text-10">£300+ discounts</h3>
                                    <p class="u-text u-text-font u-text-grey-dark-10 u-text-20">From ancient cultures to
                                        amazing landscapes, find the very best discounts on offer</p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-similar-fill
                            u-size-30 u-white u-layout-cell-20">
                                <div class="u-border-1 u-border-grey-light-10 u-container-layout">
                                    <img class="u-expanded-width u-image u-image-20"
                                         th:src="@{images/adventurePage/9793f820f5a296db24b92665e9903652.jpeg}" alt="img">
                                    <h3 class="u-heading-font u-text u-text-grey-dark-10 u-text-30">Spain holidays</h3>
                                    <p class="u-text u-text-font u-text-grey-dark-10 u-text-40">Soaring mountains,
                                        sun-soaked coasts, Moorish heritage and moreish food</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-similar-fill
                            u-size-30 u-white u-layout-cell-30">
                                <div class="u-border-1 u-border-grey-light-10 u-container-layout">
                                    <img class="u-expanded-width u-image u-image-30"
                                         th:src="@{images/adventurePage/7e9d515b497119c924556436dd0764af.jpeg}" alt="img">
                                    <h3 class="u-heading-font u-text u-text-grey-dark-10 u-text-50">Cycling
                                        Holidays</h3>
                                    <p class="u-text u-text-font u-text-grey-dark-10 u-text-60">Reawaken that long lost
                                        childhood sense of freedom or challenge yourself to an adventure</p>
                                </div>
                            </div>
                            <div class="u-align-left u-container-style u-layout-cell u-right-cell u-similar-fill
                            u-size-30 u-white u-layout-cell-40">
                                <div class="u-border-1 u-border-grey-light-10 u-container-layout">
                                    <img class="u-expanded-width u-image u-image-40"
                                         th:src="@{images/adventurePage/37c20ce870bf60dd39aa331b7ec5f1fd.jpeg}" alt="img">
                                    <h3 class="u-heading-font u-text u-text-grey-dark-10 u-text-70">Africa Holidays</h3>
                                    <p class="u-text u-text-font u-text-grey-dark-10 u-text-80">Exotic souks, ancient
                                        wonders, unique wildlife and huge sand dunes in seemingly endless deserts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-white u-section-50" id="sec-fa52">
        <div class="u-clearfix u-sheet u-sheet-10">
            <div class="u-border-1 u-border-grey-light-10 u-expanded-width u-line u-line-horizontal u-line-10"></div>
            <div class="u-align-center u-container-style u-expanded-width-sm u-expanded-width-xs
            u-group u-similar-fill u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-10">
                    <h2 class="u-heading-font u-text u-text-10">Amazing Places</h2>
                    <div class="u-border-2 u-border-palette-1-base u-line u-line-horizontal u-line-20"></div>
                    <p class="u-text u-text-font u-text-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        nullam nunc justo sagittis suscipit ultrices.</p>
                </div>
            </div>
            <div class="u-clearfix u-disable-padding u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-10">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-image
                                u-layout-cell u-left-cell u-similar-fill u-size-30
                                u-image-10" imgwidth="900" imgheight="1350">
                                    <div class="u-container-layout" src=""></div>
                                </div>
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell
                                u-similar-fill u-size-30 u-image-20" imgwidth="900" imgheight="1350">
                                    <div class="u-container-layout u-padding-12"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-similar-fill
                                u-size-20 u-image-30" imgwidth="900" imgheight="506">
                                    <div class="u-container-layout u-padding-12"></div>
                                </div>
                                <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-image
                                u-layout-cell u-similar-fill u-size-20 u-image-40" imgwidth="900" imgheight="600">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-align-left u-container-style u-image u-layout-cell u-similar-fill
                                u-size-20 u-image-50" imgwidth="900" imgheight="1200">
                                    <div class="u-container-layout u-padding-12"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-right-cell
                                u-similar-fill u-size-30 u-image-60" imgwidth="900" imgheight="1350">
                                    <div class="u-container-layout"></div>
                                </div>
                                <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs u-image
                                u-layout-cell u-right-cell u-size-30 u-image-70" imgwidth="900" imgheight="1201">
                                    <div class="u-container-layout"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-image u-section-70" id="sec-e7a0">
        <div class="u-clearfix u-sheet u-sheet-10">
            <div class="u-container-style u-expanded-width-md u-group u-similar-fill u-group-10">
                <div class="u-container-layout u-container-layout-10">
                    <h2 class="u-align-center u-custom-font u-font-satisfy u-text u-text-palette-1-base u-text-10">
                        Helping Dreams Do</h2>
                    <div class="u-border-2 u-border-palette-1-base u-line u-line-horizontal u-line-10"></div>
                    <p class="u-align-center u-text u-text-font u-text-20">You can have as much or as little help from
                        us as you want. It’s up to you.&nbsp;Finally, you should know we treat local people with respect
                        and fairness. This pays back by the bucket load because well cared for locals let you get
                        closer to their culture, their people &amp; their nature. Which is good for them and good for
                        you. In addition, if you wish, when you book your holiday we'll pay for a day trip for a
                        disadvantaged child from a developing country
                        to a Game Park, mountain or museum etc. We call this responsible tourism. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-typography-custom-page-typography-24--Counter u-white u-section-80" id="sec-1bfe">
        <div class="u-clearfix u-sheet u-sheet-10">
            <div class="u-shape u-shape-rectangle u-white u-shape-10"></div>
            <div class="u-clearfix u-disable-padding u-gutter-36 u-layout-wrap u-layout-wrap-10">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-10">
                                    <div class="u-border-1 u-border-grey-light-10 u-container-layout u-padding-60 u-valign-middle u-container-layout-10">
                                        <h6 class="u-align-center u-text u-text-10">hot destinations</h6>
                                        <h1 class="u-align-center u-custom-font u-heading-font u-text u-text-palette-1-base u-text-20"
                                            data-animation-name="counter" data-animation-event="scroll"
                                            data-animation-duration="3000">37</h1>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-white u-layout-cell-2">
                                    <div class="u-border-1 u-border-grey-light-10 u-container-layout u-padding-60 u-valign-middle u-container-layout-20">
                                        <h6 class="u-align-center u-text u-text-30">happy clients</h6>
                                        <h1 class="u-align-center u-custom-font u-heading-font u-text u-text-palette-1-base u-text-40"
                                            data-animation-name="counter" data-animation-event="scroll"
                                            data-animation-duration="3000">677</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-row">
                                <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-30 u-white u-layout-cell-3">
                                    <div class="u-border-1 u-border-grey-light-10 u-container-layout u-padding-60 u-valign-middle u-container-layout-30">
                                        <h6 class="u-align-center u-text u-text-50">cups of coffee</h6>
                                        <h1 class="u-align-center u-custom-font u-heading-font u-text u-text-palette-1-base u-text-60"
                                            data-animation-name="counter" data-animation-event="scroll"
                                            data-animation-duration="3000">87</h1>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-white u-layout-cell-40">
                                    <div class="u-border-1 u-border-grey-light-10 u-container-layout u-padding-60 u-valign-middle u-container-layout-40">
                                        <h6 class="u-align-center u-text u-text-70">visited countries</h6>
                                        <h1 class="u-align-center u-custom-font u-heading-font u-text u-text-palette-1-base u-text-80"
                                            data-animation-name="counter" data-animation-event="scroll"
                                            data-animation-duration="3000">107</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-grey-5 u-valign-middle u-section-63" id="carousel_d41c">
        <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-white u-group-13">
            <div class="u-container-layout u-valign-middle u-container-layout-13">
                <h2 class="u-text u-text-13"> Are you ready to travel? We are waiting for you!</h2>
                <p class="u-text u-text-23"> Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas.
                    Lobortis elementum nibh tellus molestie nunc non. Aliquet bibendum</p>
                <a href="/info/contacts" class="u-active-palette-2-light-1 u-border-none u-btn u-btn-round
                u-button-style u-hover-palette-2-light-1 u-palette-2-base u-radius-50 u-text-active-white
                u-text-body-alt-color u-text-hover-white u-btn-13">START NOW</a>
            </div>
        </div>
    </section>
</main>
<!--------------------------------------------------->
</body>
</html>