<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--------------------------------------------------->
    <link rel="stylesheet" th:href="@{../css/beachToursPage.css}" media="screen"/>
    <!--------------------------------------------------->
    <title>Title</title>
</head>
<body>
<!--------------------------------------------------->
<main>
    <section class="u-align-center-md u-align-center-sm u-align-center-xs u-align-right-lg u-align-right-xl
    u-clearfix u-image u-shading u-section-11"
            id="carousel_d6f1" data-image-width="1920" data-image-height="905">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-11">
            <div class="u-border-3 u-border-white u-container-style u-group u-shape-rectangle u-group-11">
                <div class="u-container-layout u-valign-middle u-container-layout-11">
                    <h2 class="u-custom-font u-font-roboto-condensed u-text u-text-body-alt-color u-text-default u-text-11">
                        Explore more with Sea Tours</h2>
                    <p class="u-text u-text-default u-text-21"> Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident. </p>
                    <a href="/info/contacts"
                       class="u-active-white u-border-2 u-border-active-white u-border-hover-white
                       u-border-white u-btn u-button-style u-hover-white u-none u-text-active-grey-25
                       u-text-body-alt-color u-text-hover-grey-25 u-btn-11">START NOW</a>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-31" id="carousel_d02b">
        <div class="u-clearfix u-sheet u-sheet-11">
            <h2 class="u-align-left u-text u-text-11">Luxury Spa Facilities &amp; Services</h2>
            <ul class="u-align-left u-custom-list u-text u-text-21">
                <li>
                    <div class="u-list-icon u-text-palette-1-base">
                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-133a">
                            <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                    27 Treatment Rooms for customized face and body treatments
                </li>
                <li>
                    <div class="u-list-icon u-text-palette-1-base">
                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-133a">
                            <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                    Separate men's and women's saunas, steam rooms, and whirlpools
                </li>
                <li>
                    <div class="u-list-icon u-text-palette-1-base">
                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-133a">
                            <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                    Private men's and women's fireplace lounges
                </li>
                <li>
                    <div class="u-list-icon u-text-palette-1-base">
                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-133a">
                            <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                    Co-ed soaking pools with heated Hydromassage WaterWalls
                </li>
                <li>
                    <div class="u-list-icon u-text-palette-1-base">
                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-133a">
                            <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                    Indoor pool especially designed for aqua classes
                </li>
                <li>
                    <div class="u-list-icon u-text-palette-1-base">
                        <svg class="u-svg-content" viewBox="0 0 512 512" id="svg-133a">
                            <path d="m202.6 478-202.6-186.6 70.5-76.6 121.5 111.9 239.4-292.7 80.6 65.9z"
                                  fill="currentColor"></path>
                        </svg>
                    </div>
                    Outdoor Horizon Edge Whirlpool for year-round use
                </li>
            </ul>
            <div class="u-align-left u-image u-image-circle u-image-11" data-image-width="1400"
                 data-image-height="933"></div>
            <div class="u-align-left u-image u-image-circle u-image-21" data-image-width="900"
                 data-image-height="900"></div>
            <div class="u-align-left u-image u-image-circle u-image-31" data-image-width="691"
                 data-image-height="738"></div>
            <div class="u-palette-1-base u-shape u-shape-circle u-shape-11"></div>
            <div class="u-shape u-shape-svg u-text-palette-3-light-2 u-shape-21">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3be9"></use>
                </svg>
                <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-3be9"
                     style="enable-background:new 0 0 160 160;">
                    <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30
                    M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80 s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                </svg>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-grey-5 u-section-41" id="carousel_8e60">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-11">
            <h2 class="u-text u-text-11"> Every holiday is different </h2>
            <p class="u-text u-text-21"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <a href="/info/contacts" class="u-active-palette-1-light-2 u-align-left u-border-none u-btn
            u-button-style u-hover-palette-1-light-2 u-palette-1-base u-text-active-palette-1-dark-2
            u-text-body-alt-color u-text-hover-palette-1-dark-2 u-btn-11">START NOW</a>
        </div>
    </section>

    <section class="u-clearfix u-section-51" id="sec-7403">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-11">
            <div class="u-opacity u-opacity-60 u-palette-3-light-2 u-shape u-shape-rectangle u-shape-11"></div>
            <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-21"></div>
            <img src="images/beachToursPage/fgfgf.jpg" class="u-align-left u-image u-image-11" data-image-width="1200"
                 data-image-height="874">
            <div class="u-align-left u-container-style u-group u-white u-group-11">
                <div class="u-container-layout u-container-layout-11">
                    <h3 class="u-text u-text-11">Land &amp; Sea Tours</h3>
                    <p class="u-text u-text-21">Sample text. Click to select the text box. Click again or double click
                        to start editing the text.&nbsp;Condimentum mattis pellentesque id nibh tortor id aliquet.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-71" id="carousel_3dc6">
        <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-xl u-sheet-11">
            <div class="u-image u-image-circle u-preserve-proportions u-image-11" data-image-width="700"
                 data-image-height="683"></div>
            <div class="u-image u-image-circle u-image-21" data-image-width="626" data-image-height="417"></div>
            <div class="u-border-20 u-border-white u-image u-image-circle u-preserve-proportions u-image-31"
                 data-image-width="1038" data-image-height="1080"></div>
            <div class="u-palette-3-light-2 u-shape u-shape-circle u-shape-11"></div>
            <h2 class="u-text u-text-default u-text-11">Travel Guide</h2>
            <div class="u-border-15 u-border-palette-1-base u-expanded-width u-line u-line-horizontal u-line-11"></div>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-11">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-11">
                            <div class="u-container-layout u-container-layout-11">
                                <h5 class="u-text u-text-default u-text-21"> Enim nec dui nunc mattis enim ut tellus
                                    elementum sagittis. Amet justo donec enim diam vulputate ut pharetra. Vitae suscipit
                                    tellus mauris a diam. </h5>
                            </div>
                        </div>
                        <div class="u-align-justify u-container-style u-layout-cell u-palette-3-light-3
                        u-size-30 u-layout-cell-21">
                            <div class="u-container-layout u-container-layout-21">
                                <p class="u-text u-text-default u-text-41"> Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Rhoncus mattis rhoncus urna neque viverra. Ac turpis egestas integer eget aliquet.
                                    Dignissim enim sit amet venenatis.&nbsp;<br>
                                    <br>Donec ac odio tempor orci dapibus. Laoreet id donec ultrices tincidunt arcu.
                                    Morbi non arcu risus quis varius quam. Gravida neque convallis a cras semper auctor
                                    neque vitae tempus. Venenatis lectus magna fringilla urna.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-image u-section-81" id="carousel_0c71" data-image-width="1580"
             data-image-height="1080">
        <div class="u-clearfix u-sheet u-sheet-11">
            <h2 class="u-text u-text-11"> Always Travel with Us</h2>
            <p class="u-large-text u-text u-text-variant u-text-21">The deepest travel discounts on hotels, cars,
                flights.</p>
        </div>
    </section>

    <section class="u-clearfix u-grey-51 u-section-91" id="carousel_7acf">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-11">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-11">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-18-lg u-size-18-xl u-size-22-sm u-size-22-xs u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-11">
                                    <div class="u-container-layout u-valign-top u-container-layout-11">
                                        <h6 class="u-text u-text-default u-text-11">what we do</h6>
                                        <p class="u-text u-text-default u-text-21">Sample text. Click to select the text
                                            box. Click again or double click to start editing the text.</p>
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-21">
                                    <div class="u-container-layout u-valign-top u-container-layout-21">
                                        <h6 class="u-text u-text-default u-text-31">who we are</h6>
                                        <p class="u-text u-text-default u-text-41">Sample text. Click to select the text
                                            box. Click again or double click to start editing the text.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-23-sm u-size-23-xs u-size-24-lg u-size-24-xl u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-size-60 u-layout-cell-31">
                                    <div class="u-container-layout u-valign-top u-container-layout-31">
                                        <h4 class="u-text u-text-default u-text-51"><b></b>More time thinking of the
                                            future with recovery in mind
                                        </h4>
                                        <p class="u-text u-text-default u-text-61"> Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                            officia deserunt mollit anim id est laborum.</p>
                                        <a href="/info/contacts" class="u-active-palette-1-light-2 u-align-left
                                        u-border-none u-btn u-button-style u-hover-palette-1-light-2 u-palette-1-base
                                        u-text-active-palette-1-dark-2 u-text-body-alt-color
                                        u-text-hover-palette-1-dark-2 u-btn-21">START NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-16-sm u-size-16-xs u-size-18-lg u-size-18-xl u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell
                                u-size-60 u-image-11" data-image-width="417" data-image-height="626">
                                    <div class="u-container-layout u-container-layout-41"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!--------------------------------------------------->
</body>
</html>