<main class="dk-mt10">
    <section class="u-clearfix u-section-12" id="carousel_1c51">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-12">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-12">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-33-lg u-size-33-md
                        u-size-33-sm u-size-33-xs u-size-35-xl u-size-xs-60 u-layout-cell-12">
                            <div class="u-container-layout u-valign-top-md u-valign-top-sm u-valign-top-xs
                            u-container-layout-12">
                                <img class="u-image u-image-12" src="images/individualTravelPage/9121min.jpg">
                                <img class="u-border-10 u-border-white u-image u-image-22"
                                     src="images/individualTravelPage/lakelandscapewithmountainswinterseasonsunsetchiangmaithailand_37778513.jpg">
                                <img class="u-image u-image-32" src="images/individualTravelPage/938min.jpg">
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-25-xl
                        u-size-27-lg u-size-27-md u-size-27-sm u-size-27-xs u-size-xs-60 u-white u-layout-cell-22">
                            <div class="u-container-layout u-valign-middle u-container-layout-22">
                                <h6 class="u-text u-text-grey-70 u-text-12">Individual Travel</h6>
                                <h1 class="u-custom-font u-font-oswald u-text u-text-palette-2-base u-text-22">
                                    Self-Drive Car Tours</h1>
                                <p class="u-text u-text-grey-70 u-text-32">All three tours come with an itinerary with
                                    details about sightseeing highlights at each destination along the way. Lorem ipsum
                                    dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit
                                    ultrices.</p>
                                <a href="/info/contacts" class="u-border-2 u-border-palette-2-base u-btn
                                u-btn-rectangle u-button-style u-radius-0 u-text-body-color u-btn-12">START NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-section-22" id="carousel_0274">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-12">
            <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-12">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-size-20">
                                    <div class="u-layout-row">
                                        <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs
                                        u-layout-cell u-left-cell u-size-30 u-layout-cell-12">
                                            <div class="u-container-layout u-container-layout-12"></div>
                                        </div>
                                        <div class="u-align-left u-container-style u-image u-layout-cell
                                        u-size-30 u-image-12" data-image-width="437" data-image-height="626">
                                            <div class="u-container-layout u-container-layout-22"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-40">
                                    <div class="u-layout-row">
                                        <div class="u-align-left u-container-style u-image u-layout-cell
                                        u-left-cell u-size-60 u-image-22"
                                             data-image-width="1626" data-image-height="1080">
                                            <div class="u-container-layout u-valign-middle u-container-layout-32"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-size-40">
                                    <div class="u-layout-row">
                                        <div class="u-align-left u-container-style u-image u-layout-cell
                                        u-right-cell u-size-60 u-image-32"
                                             data-image-width="700" data-image-height="794">
                                            <div class="u-container-layout u-valign-middle u-container-layout-42"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-20">
                                    <div class="u-layout-row">
                                        <div class="u-align-left u-container-style u-image
                                        u-layout-cell u-size-30 u-image-42"
                                             data-image-width="626" data-image-height="417">
                                            <div class="u-container-layout u-container-layout-52"></div>
                                        </div>
                                        <div class="u-align-left u-container-style u-hidden-sm u-hidden-xs
                                        u-layout-cell u-right-cell u-size-30 u-layout-cell-62">
                                            <div class="u-container-layout u-container-layout-62"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-valign-middle u-section-32" id="carousel_2f54">
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-12">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-25-xl
                    u-size-27-lg u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-white u-layout-cell-12">
                        <div class="u-container-layout u-valign-middle u-container-layout-12">
                            <h2 class="u-text u-text-12">Travel together, race together<br></h2>
                            <h4 class="u-text u-text-22"> Keeping your cycling dreams alive</h4>
                            <a href="/info/contacts"
                               class="u-border-2 u-border-active-black u-border-hover-black u-border-palette-4-base
                               u-btn u-btn-round u-button-style u-hover-black u-none u-radius-50 u-text-active-white
                               u-text-black u-text-hover-white u-btn-22">START NOW</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-33-lg
                    u-size-35-xl u-size-60-md u-size-60-sm u-size-60-xs u-size-xs-60 u-image-12"
                         data-image-width="1557" data-image-height="1000">
                        <div class="u-container-layout u-valign-bottom u-container-layout-22"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-section-42" id="carousel_1a8a">
        <h2 class="u-text u-text-12">Travel</h2>
        <p class="u-text u-text-22">Have you ever wished you could just make something appear? You know, some cough
            drops when you’re sick. That comfy chair you were eyeing at the mall.&nbsp;</p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-12">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="864" data-image-height="1080">
                        <img class="u-back-image u-expanded" src="images/individualTravelPage/pexels-photo-9336680.jpeg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1"></div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="720" data-image-height="1080">
                        <img class="u-back-image u-expanded" src="images/individualTravelPage/pexels-photo-9928414.jpeg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2"></div>
                </div>
                <div class="u-effect-fade u-gallery-item">
                    <div class="u-back-slide" data-image-width="810" data-image-height="1080">
                        <img class="u-back-image u-expanded" src="images/individualTravelPage/pexels-photo-9880893.jpeg">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-52" id="carousel_583f">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-12">
            <div class="u-clearfix u-expanded-width u-gutter-48 u-layout-wrap u-layout-wrap-12">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-20 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-palette-1-base
                                u-right-cell u-size-30 u-layout-cell-12">
                                    <div class="u-container-layout u-valign-middle u-container-layout-12">
                                        <h4 class="u-text u-text-12">Steve perry</h4>
                                        <p class="u-text u-text-22">" Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                            occaecat cupidatat non."</p>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell
                                u-size-30 u-image-12">
                                    <div class="u-container-layout u-container-layout-22"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-32">
                                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs">
                                        <h3 class="u-text u-text-32"></h3>
                                        <img class="u-expanded-width u-image u-image-22"
                                             src="images/individualTravelPage/rttr-min.jpg"
                                             data-image-width="900" data-image-height="967">
                                        <a href="/info/contacts"
                                           class="u-border-2 u-border-palette-2-base u-btn u-btn-rectangle
                                           u-button-style u-radius-0 u-text-body-color u-btn-12">START NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-32">
                                    <div class="u-container-layout u-valign-middle u-container-layout-42"></div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30
                                 u-layout-cell-52">
                                    <div class="u-container-layout u-valign-middle u-container-layout-52">
                                        <h4 class="u-text u-text-42">nina larson</h4>
                                        <p class="u-text u-text-52">" Duis aute irure dolor in reprehenderit in
                                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                                            anim id est laborum."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>