<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--------------------------------------------------->
    <link rel="stylesheet" th:href="@{../css/italyPage.css}" media="screen"/>
    <!--------------------------------------------------->
    <title>Title</title>
</head>
<body>
<!--------------------------------------------------->
<main class="dk-mt10">

    <section class="u-clearfix u-section-13" id="carousel_949e">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-13">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-left-cell u-size-40 u-image-13">
                        <div class="u-container-layout u-valign-bottom u-container-layout-13">
                            <h1 class="u-text u-text-body-alt-color u-text-default u-text-13">italy!</h1>
                        </div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-23">
                        <div class="u-container-layout u-container-layout-23"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-grey-5 u-section-23" id="carousel_e305">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-13">
            <h1 class="u-custom-font u-font-montserrat u-text u-text-default u-text-palette-5-dark-3 u-text-13">Guide to
                Traveling<br>
                <span style="font-weight: 700;" class="u-text-palette-4-base">Around Italy</span>
            </h1>
            <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-13">
                <div class="u-container-layout u-container-layout-13">
                    <div class="u-align-left u-image u-image-circle u-image-13" data-image-width="1200"
                         data-image-height="900"></div>
                    <div class="u-align-left u-image u-image-circle u-image-23" data-image-width="700"
                         data-image-height="700"></div>
                    <div class="u-palette-4-base u-preserve-proportions u-shape u-shape-circle u-shape-13"></div>
                    <div class="u-shape u-shape-svg u-text-palette-4-light-2 u-shape-23">
                        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0b9e"></use>
                        </svg>
                        <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-0b9e"
                             style="enable-background:new 0 0 160 160;">
                            <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30
                            M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80 s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                        </svg>
                    </div>
                </div>
            </div>
            <p class="u-text u-text-23">Sample text. Click to select the text box. Click again or double click to start
                editing the text.&nbsp;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.</p>
            <a href="/info/contacts"
               class="u-border-none u-btn u-button-style u-palette-4-base u-btn-23">START NOW</a>
        </div>
    </section>

    <section class="u-clearfix u-grey-5 u-section-33" id="carousel_9c13">
        <div class="u-clearfix u-sheet u-sheet-13">
            <div class="u-palette-4-light-1 u-shape u-shape-rectangle u-shape-13"></div>
            <div class="u-clearfix u-layout-wrap u-layout-wrap-13">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-col">
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell
                                u-palette-4-light-1 u-size-26 u-layout-cell-13">
                                    <div class="u-container-layout u-valign-middle u-container-layout-13">
                                        <h1 class="u-text u-text-13">Italy on a Budget tours</h1>
                                        <p class="u-large-text u-text u-text-variant u-text-23">Discover the best of
                                            your destination on top-rated tours with expert local guides. Planning on
                                            the go is easy with 24/7 customer service support and flexible cancellation.
                                            Top-rated things to do. Flexible booking.&nbsp;</p>
                                        <a href="/info/contacts"
                                           class="u-btn u-button-style u-text-palette-4-base u-white u-btn-13">START
                                            NOW</a>
                                    </div>
                                </div>
                                <div class="u-container-style u-image u-layout-cell u-right-cell u-size-34 u-image-13">
                                    <div class="u-container-layout u-container-layout-23"></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md">
                            <div class="u-layout-row">
                                <div class="u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-33">
                                    <div class="u-container-layout u-valign-top u-container-layout-33">
                                        <h3 class="u-custom-font u-text u-text-font u-text-palette-4-base u-text-33">A
                                            DAY TRIP TO TUSCAN</h3>
                                        <ul class="u-text u-text-43">
                                            <li>Short Drive to the Chianti countryside to discover</li>
                                            <li>First Stop at a wine tasting school where you will taste 5 different
                                                type of wines
                                            </li>
                                            <li>Second stop at a&nbsp;local winery&nbsp;for a guided tour through the
                                                vineyards and the cellar&nbsp;with 3 wines<br>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-43">
                                    <div class="u-container-layout u-valign-top u-container-layout-43">
                                        <ul class="u-text u-text-63">
                                            <li>lorem ipsum dolor sit amet</li>
                                            <li>consectetur adipiscing</li>
                                            <li>elit nullam nunc justo</li>
                                            <li>sagittis suscipit ultrices.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-left u-clearfix u-grey-5 u-section-43" id="carousel_cb76">
        <div class="u-expanded-width u-palette-1-base u-shape u-shape-rectangle u-shape-13"></div>
        <h1 class="u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-13"> What do our clients say?<br>
        </h1>
        <div class="u-list u-list-13">
            <div class="u-repeater u-repeater-13">
                <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item
                u-shape-round u-white u-list-item-1">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-13">
                        <p class="u-text u-text-default u-text-grey-50 u-text-23">Sample text. Click to select the text
                            box. Click again or double click to start editing the text.</p>
                        <div class="u-image u-image-circle u-image-13" data-image-width="206"
                             data-image-height="206"></div>
                        <h5 class="u-text u-text-default u-text-grey-50 u-text-33">Celia Almeda</h5>
                        <h5 class="u-text u-text-body-color u-text-default u-text-43">Secretary</h5>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-23">
                        <p class="u-text u-text-default u-text-grey-50 u-text-53">Sample text. Click to select the text
                            box. Click again or double click to start editing the text.</p>
                        <div class="u-image u-image-circle u-image-23" data-image-width="206"
                             data-image-height="206"></div>
                        <h5 class="u-text u-text-default u-text-grey-50 u-text-63">Nat Reynolds</h5>
                        <h5 class="u-text u-text-body-color u-text-default u-text-73">Chief Accountant</h5>
                    </div>
                </div>
                <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
                    <div class="u-container-layout u-similar-container u-valign-top u-container-layout-33">
                        <p class="u-text u-text-default u-text-grey-50 u-text-83">Sample text. Click to select the text
                            box. Click again or double click to start editing the text.</p>
                        <div class="u-image u-image-circle u-image-33" data-image-width="626"
                             data-image-height="417"></div>
                        <h5 class="u-text u-text-default u-text-grey-50 u-text-93">Bob Roberts</h5>
                        <h5 class="u-text u-text-body-color u-text-default u-text-103">Sales Manager</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-grey-5 u-section-53" id="carousel_6411">
        <div class="u-clearfix u-sheet u-sheet-13">
            <div class="u-border-20 u-border-palette-3-base u-shape u-shape-circle u-shape-13"></div>
            <div class="u-clearfix u-gutter-18 u-layout-wrap u-layout-wrap-13">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle
                                u-size-40 u-layout-cell-13">
                                    <div class="u-container-layout u-valign-middle u-container-layout-13">
                                        <div class="u-image u-image-circle u-image-13" data-image-width="1000"
                                             data-image-height="1500"></div>
                                        <h3 class="u-text u-text-default u-text-13">Paul Harrison</h3>
                                        <p class="u-text u-text-palette-5-dark-2 u-text-23">Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur</p>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-radius-10 u-size-20
                                u-white u-layout-cell-23">
                                    <div class="u-container-layout u-valign-bottom u-container-layout-23">
                                        <div class="u-image u-image-circle u-image-23" data-image-width="864"
                                             data-image-height="1080"></div>
                                        <h3 class="u-text u-text-default u-text-33">Stella Hudson</h3>
                                        <p class="u-text u-text-palette-5-dark-2 u-text-43">Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30">
                            <div class="u-layout-col">
                                <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle
                                u-size-20 u-layout-cell-33">
                                    <div class="u-container-layout u-valign-bottom u-container-layout-33">
                                        <div class="u-image u-image-circle u-image-33" data-image-width="1000"
                                             data-image-height="1500"></div>
                                        <h3 class="u-text u-text-default u-text-53">Mary Loo</h3>
                                        <p class="u-text u-text-palette-5-dark-2 u-text-63">Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur</p>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle
                                u-size-40 u-white u-layout-cell-43">
                                    <div class="u-container-layout u-valign-middle u-container-layout-43">
                                        <div class="u-border-20 u-border-palette-3-base u-image u-image-circle
                                        u-image-43" data-image-width="864" data-image-height="1080"></div>
                                        <h3 class="u-text u-text-default u-text-73">Nina Larson</h3>
                                        <p class="u-text u-text-palette-5-dark-2 u-text-83">Duis aute irure dolor in
                                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                            pariatur</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-align-center u-clearfix u-grey-5 u-valign-middle u-section-63" id="carousel_d41c">
        <div class="u-align-center u-container-style u-group u-radius-50 u-shape-round u-white u-group-13">
            <div class="u-container-layout u-valign-middle u-container-layout-13">
                <h2 class="u-text u-text-13"> Are you ready to travel? We are waiting for you!</h2>
                <p class="u-text u-text-23"> Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas.
                    Lobortis elementum nibh tellus molestie nunc non. Aliquet bibendum</p>
                <a href="/info/contacts"
                   class="u-active-palette-2-light-1 u-border-none u-btn u-btn-round u-button-style
                   u-hover-palette-2-light-1 u-palette-2-base u-radius-50 u-text-active-white u-text-body-alt-color
                   u-text-hover-white u-btn-13">START NOW</a>
            </div>
        </div>
    </section>
</main>
<!--------------------------------------------------->
</body>
</html>