<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--------------------------------------------------->
    <script class="script" th:src="@{../js/adminHomePage.js}"></script>
    <!--------------------------------------------------->
    <title>Title</title>
</head>
<body>
<!--------------------------------------------------->
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>message</th>
        <th>email</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="message : ${allContactMessages}">
        <tr>
            <td th:text="*{message.getId()}"></td>
            <td th:text="*{message.getName()}"></td>
            <td th:text="*{message.getMassage()}"></td>
            <td th:text="*{message.getEmail()}"></td>
            <td><a class="delete" th:href="@{*{message.getId()}}">DELETE</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<!--------------------------------------------------->
</body>
</html>