<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" th:href="@{../css/nicepage.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{../css/blogHomePage.css}" media="screen">
    <script th:src="@{../js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{../js/showPage.js}"></script>
    <title>Blog home page</title>

</head>
<body class="u-body u-xl-mode" data-lang="ru" style="display: none">
<header>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/blog/homePage}">Blog</a>
        <a th:href="@{/info/contacts}">Contacts</a>
        <a th:href="@{/info/aboutus}">About us</a>
        <th:block th:if="${#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
            <a th:href="@{/login}">LogIn</a>
            <a th:href="@{/registration}">Welcome guest</a>
        </th:block>
        <th:block th:if="${!#authorization.expression('hasRole(''ROLE_ANONYMOUS'')')}">
            <a th:href="@{/logout}">LogOut</a>
            <a th:href="@{/logout}">
                <th:block th:text="'Welcome ' + ${#authentication.getName()}"></th:block>
            </a>
        </th:block>
    </nav>
</header>

<section class="u-align-center u-clearfix u-gradient u-section-1" id="carousel_fe5d">
    <div class="u-clearfix u-sheet u-sheet-1 dk-mt-10">
        <h1 class="u-custom-font u-font-playfair-display u-text u-text-1">Latest Travel News</h1>
        <div class="u-blog u-expanded-width u-blog-1">
            <div class="u-repeater u-repeater-1">

                <!--blog_post-->
                <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover u-white
                u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <a class="u-post-header-link" href="#">
                            <img alt="" class="u-blog-control u-image u-image-default u-image-1"
                                 th:src="@{../images/blog/blogHomePage/8ad73f3c.jpeg}"></a>
                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1">
                            <span class="u-meta-date u-meta-icon">05 июл. 2023 г.</span>
                        </div>
                        <h4 class="u-blog-control u-text u-text-2">
                            <a class="u-post-header-link" href="#">Заголовок 6-го поста</a>
                        </h4>
                    </div>
                </div>

                <!--blog_post-->
                <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover
                u-white u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <a class="u-post-header-link" href="#">
                            <img alt="" class="u-blog-control u-image u-image-default u-image-2"
                                 th:src="@{../images/blog/blogHomePage/68f64b9d.jpeg}"></a>
                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-2">
                            <span class="u-meta-date u-meta-icon">05 июл. 2023 г.</span>
                        </div>
                        <h4 class="u-blog-control u-text u-text-3">
                            <a class="u-post-header-link" href="#">Заголовок 5-го поста</a>
                        </h4>
                    </div>
                </div>

                <!--blog_post-->
                <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover
                u-white u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <a class="u-post-header-link" href="#">
                            <img alt="" class="u-blog-control u-image u-image-default u-image-3"
                                 th:src="@{../images/blog/blogHomePage/0fd3416c.jpeg}"></a>
                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-3">
                            <span class="u-meta-date u-meta-icon">05 июл. 2023 г.</span>
                        </div>
                        <h4 class="u-blog-control u-text u-text-4">
                            <a class="u-post-header-link" href="#">Заголовок 4-го поста</a>
                        </h4>
                    </div>
                </div>

                <!--blog_post-->
                <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover
                u-white u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <a class="u-post-header-link" href="#">
                            <img alt="" class="u-blog-control u-image u-image-default u-image-3"
                                 th:src="@{../images/blog/blogHomePage/8ad73f3c.jpeg}"></a>
                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-3">
                            <span class="u-meta-date u-meta-icon">05 июл. 2023 г.</span>
                        </div>
                        <h4 class="u-blog-control u-text u-text-4">
                            <a class="u-post-header-link" href="#">Заголовок 3-го поста</a>
                        </h4>
                    </div>
                </div>

                <!--blog_post-->
                <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover
                u-white u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <a class="u-post-header-link" href="#">
                            <img alt="" class="u-blog-control u-image u-image-default u-image-3"
                                 th:src="@{../images/blog/blogHomePage/68f64b9d.jpeg}"></a>
                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-3">
                            <span class="u-meta-date u-meta-icon">05 июл. 2023 г.</span>
                        </div>
                        <h4 class="u-blog-control u-text u-text-4">
                            <a class="u-post-header-link" href="#">Заголовок 2-го поста</a>
                        </h4>
                    </div>
                </div>

                <!--blog_post-->
                <div class="u-align-center u-blog-post u-container-style u-repeater-item u-video-cover
                u-white u-repeater-item-3">
                    <div class="u-container-layout u-similar-container u-container-layout-3">
                        <a class="u-post-header-link" href="#">
                            <img alt="" class="u-blog-control u-image u-image-default u-image-3"
                                 th:src="@{../images/blog/blogHomePage/0fd3416c.jpeg}"></a>
                        <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-3">
                            <span class="u-meta-date u-meta-icon">05 июл. 2023 г.</span>
                        </div>
                        <h4 class="u-blog-control u-text u-text-4">
                            <a class="u-post-header-link" href="#">Заголовок 1-го поста</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <p class="u-text u-text-body-alt-color u-text-default u-text-8"></p>
    </div>
</section>

</body>
</html>