header nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(170, 246, 227, 0.3);
}

header nav a {
    font-size: 2vw;
}

.error {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 15vh;
}

.dk-end {
    text-align: end;
}