<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Self-Drive Car Tours">
    <meta name="description" content="">
    <link rel="stylesheet" th:href="@{../css/nicepage.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{../css/registration.css}" media="screen">
    <script th:src="@{../js/jquery-3.7.0.min.js}"></script>
    <script th:src="@{../js/showPage.js}"></script>
    <title>Registration</title>

</head>
<body class="u-body u-xl-mode" data-lang="ru" style="display: none">
<!-- Header for nav -->
<header>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/info/contacts}">Contacts</a>
        <a th:href="@{/info/aboutus}">About us</a>
    </nav>
</header>

<section class="u-align-center u-clearfix u-section-1 cont" id="carousel_ac04">
    <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <img class="u-align-left u-image u-image-1" data-image-width="626" data-image-height="417"
             th:src="@{images/registration/man-traveling.jpg}" alt="img">
        <img class="u-align-left u-image u-image-2" data-image-width="700" data-image-height="683"
             th:src="@{images/registration/erre-min.jpg}" alt="img">
        <img class="u-align-left u-image u-image-3" data-image-width="1038" data-image-height="1080"
             th:src="@{images/registration/22.jpg}" alt="img">
    </div>
</section>

<section class="position-cont">
    <form class="flex-cont" method="post" th:object="${usersRegistration}">
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <input type="text" placeholder="First Name" th:field="*{firstName}" required>

        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <input type="text" placeholder="Last Name" th:field="*{lastName}" required>

        <div th:if="${#fields.hasErrors('dayBirthday')}" th:errors="*{dayBirthday}"></div>
        <input onfocus="(this.type='date')" placeholder="Day of Birthday" th:field="*{dayBirthday}" required>

        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <div th:text="${email}"></div>
        <input class="email" type="email" placeholder="Email" th:field="*{email}" required>

        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        <div th:text="${username}"></div>
        <input class="username" type="text" placeholder="User Name" th:field="*{username}" required>

        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <div th:text="${password}"></div>
        <input type="password" placeholder="Password" th:field="*{password}" required>

        <div th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}"></div>
        <div th:text="${password}"></div>
        <input type="password" placeholder="Repeat password" th:field="*{repeatPassword}" required>

        <input class="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <button type="submit">Send</button>
    </form>
</section>
</body>
</html>